.change-pawword-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    background-color: hsl(0, 0%, 98%);
    border-radius: 10px;

    .change-password-title {
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 1em;
    }

    .change-password-form {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 100%;

        .ant-col.ant-form-item-label {
            width: 170px;

        }

        .ant-form-item-control-input-content {
            display: flex;
            justify-content: end;
            align-items: center;
        }

        .change-password-input {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 5px;
            width: 300px;
            height: 40px;
        }

        .change-passowrd-btn-item {
            display: flex;
            justify-content: center;
            align-items: center;

            .change-password-btn {
                width: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                border: 1px solid #070707;
                background-color: #CF0201ed;
                color: white;
                margin-top: 1em;
            }

        }
    }
}

.ant-form-item-explain {
    color: red; 
}
