.ant-btn-primary {
    background-color: #CF0201ed; 
    border-color: #CF0201ed; 
    color: #fff;
  }

  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background-color: #CF0201ed; 
    border-color: #CF0201ed; 
    color: #fff;
  }

  .ant-btn-default {
    background-color: white; 
    border-color: black; 
    color: black;
  }

  .ant-btn-default:hover,
  .ant-btn-default:focus {
    background-color: white; 
    border-color: #767474; 
    color : black;
  }