.sketch-main {
    margin: 1em 1em;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    
    .table-area {
        padding: 1em;
        margin-top: 1em;
        background-color: white;

    }


}

.statistical-user {
    display: flex;
    justify-content: space-around;
}
