.body{
    display: flex;
    justify-content: center;
    width: 770px;
}
.forgot-clearfix {
        font-size: 16px;
        font-family: "Roboto",Tahoma,Arial;
        justify-items: center;
        border: #333;
        width: 100%;
        .formheader {
            padding-bottom: 5px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e5e5e5;
        }
        .formheader {
            text-transform: uppercase;
            color: #333;
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 10px;
            line-height: normal;
        }
    }


.body {
    text-align: left!important;
}

.element.style {
    font-weight: bold;
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
